{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="{{ path('app_home') }}" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="{{ asset('assets/img/logo.png') }}" alt="Logo" width="32" height="32">
                                </span>
                                <span class="app-brand-text demo text-body fw-bolder">LehrnMitKarim</span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Reset your password</h4>
                        <p class="mb-4">Please enter your new password below</p>

                        {{ form_start(resetForm) }}
                            <div class="mb-3">
                                {{ form_label(resetForm.plainPassword.first) }}
                                {{ form_widget(resetForm.plainPassword.first) }}
                                {{ form_errors(resetForm.plainPassword.first) }}
                            </div>
                            
                            <div class="mb-3">
                                {{ form_label(resetForm.plainPassword.second) }}
                                {{ form_widget(resetForm.plainPassword.second) }}
                                {{ form_errors(resetForm.plainPassword.second) }}
                            </div>

                            <button class="btn btn-primary d-grid w-100">Reset Password</button>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 